/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Pizza Order Style Sheet
   Author: 
   Date:   

   Filename:         pizza.css
   Supporting Files: delivery.png, okay.png, warning.png

*/

/* Fieldset Styles */

form fieldset {
	background-color: rgb(255,246,205);
	border: 1px solid;
	border-color: rgb(233,69,0);
	float: left;
	margin: 1% 1% 1% 1%;

}

#custInfo {
	width: 35%;

}

#address {
	height: 100px;

}


#buildPizza {
	width: 60%;

}

fieldset #meat {
	width: 47%;
	background-color: rgb(237,178,74);

}

fieldset #vegetables {
	width: 47%;
	background-color: rgb(237,178,74);

}

legend {
	font-size: 0.9em;

}

label {
	display: block;
	font-size: 0.8em;
	float: left;
	clear: left;
	width: 40%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;

}

input {
	display: block;
	float: left;
	width: 50%;
	margin-top: 5px;
	margin-bottom: 5px;

}

textarea {
	display: block;
	float: left;
	width: 50%;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 100px;

}

form img {
	display: block;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;

}

#delTime {
	width: 150px;

}

#sizeImage {
	margin-left: 40%;

}

#size {
	width: 200px;
	background: transparent;

}

#crust {
	float: left;
	font-size: 0.8em;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 150px;

}

#quantity {
	width: 40px;

}

fieldset.optionGroup {
	border: none;
	width: 50%;
	background: transparent;

}

input[type="radio"] {
	width: 30px;

}

input[type="checkbox"] {
	width: 20px;

}

input[type="submit"] {
	width: 150px;
	float: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;

}

*:focus {
	background-color: rgb(220,255,220);

}

input:focus:valid {
	background-color: rgb(220,255,220);
	background-image: url(okay.png) bottom right no-repeat;
	background-size: contain;

}

input:focus:invalid {
	background-color: rgb(220,255,220);
	background-image: url(warning.png) bottom right no-repeat;
	background-size: contain;

}

